<nav class="navbar navbar-expand-lg navbar-dark bg-success p-3">
  <div class="container-fluid">
    <div class="logo">
      <img src="assets/logo2.png" alt="logo">
      </div>

    <div class=" collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto ">
        <li class="nav-item">
          <a class="nav-link mx-2 " aria-current="page" href="#">meat</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="#">cheken</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="#">desert</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="#">baked</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
